<% if flash[:success] %>
<div class="container mt-2">
	<div class="alert alert-success" role="alert">
		<%= flash[:success] %>
	</div>
</div>
<% end %>

<% if flash[:fail] %>
<div class="container mt-2">
	<div class="alert alert-success" role="alert">
		<%= flash[:fail] %>
	</div>
</div>
<% end %>