<!-- Begin card -->
	<div class="row gx-0">

		<% dados.each do |filme| %>
		<div class="row g-0 mt-2 bg-light position-relative border border-2 rounded shadow card-container">
				<div class="col-md-2 img" style="height: auto;">
				  <img src="<%= 'https://image.tmdb.org/t/p/w500/' + "#{filme['poster_path']}" %>" class="w-100 h-100 rounded-start" alt="...">
				</div>
				<div class="col-md-10 p-md-3">
				  <h5 class="mb-0"><%= filme['original_title'] %></h5>
				  <p class="mb-0"><%= filme['release_date']%></p>
				  <p class="mb-0"><%=  filme['overview']%></p>
				  <a href="#" class="stretched-link" style="font-size: 0px;"></a>
				</div>
		</div>
		<% end %>
	</div>
<!-- end -->