<%= javascript_pack_tag "filme" %>

<!-- Campo de busca -->
<div class="container mt-3">
	<%= form_with( url: filme_buscar_filme_path, method: :post, local: false, :html => { :id => "id_busca" }) do  |form|%>
	<div class="container-input">
		<input class="form-control" type="text" name="nome" placeholder="Avengers">
		<i class="bi bi-search"></i>
	</div>
	<button class="btn btn-block btn-primary">Buscar</button>
	<% end %>
</div>


<!-- container com os resultados -->
<div class="container mt-3">

	<div class="row gx-0 col-12 d-flex justify-content-between">
	
		<!-- Begin Sidebar -->
		<div id="sidebar" class="list-group col-12 col-md-2">
			
			<a href="#" class="border-bottom-0 list-group-item list-group-item-action text-white p-3" style="background-color: #00BFFF ;" aria-current="true">
				    Resultado da Busca
			</a>
			
		</div>
		<!-- End Sidebar -->
			

			<div id="result" class="col-md-9">
				<!--Spinner -->
				<div id="spinner" class="spinner-border spinner desativar align-middle" role="status">
				 	<span class="visually-hidden"></span>
				</div>	
				<!-- End Spinner -->

			<!--  Aqui é carregado os itens da lista-->

			</div>

	</div>
</div>

